<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.fnp.overnight-digest</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/fnp/ops/warpsessions/.env/bin/python</string>
        <string>/Users/fnp/ops/warpsessions/overnight.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/fnp/ops/warpsessions</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/fnp/ops/warpsessions/overnight/overnight.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/fnp/ops/warpsessions/overnight/overnight.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
